.myOrdersPage {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding: 0 7.5vmax;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#myOrdersHeading {
    text-align: center;
    font: 400 1.2vmax "Roboto";
    padding: .5vmax;
    box-sizing: border-box;
    color: white;
    transition: all .5s;
    background-color: rgb(44, 44, 44);
}

.myOrdersTable {
    background-color: white;
}

.myOrdersTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none;
}

.myOrdersTable a {
    color: rgba(0, 0, 0, 0.527);
    transition: all .5s;
}

.myOrdersTable a:hover {
    color: tomato;
}

.MuiDataGrid-columnHeader {
    background-color: tomato;
    padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
    color: white;
    font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .myOrdersPage {
        padding: 0;
        height: 93vh;
    }

    #myOrdersHeading {
        font: 400 2.2vmax "Roboto";
        padding: 4vmax;
    }

    .myOrdersTable div {
        font: 300 4vmax "Roboto";
    }

    .MuiDataGrid-columnHeader {
        padding: 16px !important;
    }

    .MuiDataGrid-columnHeader div {
        font: 500 3vmax "Roboto" !important;
    }
}