.profileContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    background-color: white;
}

.profileContainer>div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.profileContainer>div:first-child>h1 {
    color: rgba(0, 0, 0, 0.555);
    transform: translateX(-10vmax) translateY(-2vmax);
    font: 500 2.2vmax "Roboto";
}

.profileContainer>div:first-child>img {
    width: 20vmax;
    height: 20vmax;
    border-radius: 100%;
    border: 5px solid aqua;
    transition: all .5s;
}

.profileContainer>div:first-child>img:hover {
    transform: scale(1.05);
}

.profileContainer>div:nth-child(1)>a {
    width: 30%;
    padding: 0.5vmax;
    text-decoration: none;
    font: 400 1vmax "Roboto";
    background-color: tomato;
    color: white;
    text-align: center;
    margin: 4vmax;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px black;
    transition: all .5s;
}

.profileContainer>div:nth-child(1)>a:hover {
    background-color: rgb(246, 63, 31);
}

.profileContainer>div:last-child {
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 5vmax;
    align-items: start;
}

.profileContainer>div:last-child>div>h4 {
    color: black;
    font: 400 1.2vmax "Roboto";
}

.profileContainer>div:last-child>div>p {
    color: rgba(0, 0, 0, 0.418);
    font: 400 1vmax cursive;
    margin: 0.2vmax;
}

.profileContainer>div:last-child>div:last-child {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.profileContainer>div:last-child>div:last-child>a {
    background-color: rgb(68, 68, 68);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: rgba(0, 0, 0, 0.418);
    padding: .5vmax;
    text-align: center;
    transition: all .5s;
    margin: 1vmax 0;
}

.profileContainer>div:last-child>div:last-child>a:hover {
    background-color: rgb(31, 31, 31);
}

@media screen and (max-width:668px) {

    .profileContainer {
        flex-direction: column;
    }

    .profileContainer>div:first-child>h1 {
        font: 500 3.2vmax "Roboto";
        transform: translateY(-2vmax);
    }

    .profileContainer>div:first-child>a {
        font: 400 1.7vmax "Roboto";
        padding: 1vmax;
    }

    .profileContainer>div:last-child {
        text-align: center;
        align-items: center;
    }

    .profileContainer>div:last-child>div>h4 {
        font: 400 2.5vmax "Roboto";
    }

    .profileContainer>div:last-child>div>p {
        font: 400 2vmax "Roboto";
        margin: .5vmax;
    }

    .profileContainer>div:last-child>div:last-child>a {
        font: 400 1.8vmax "Roboto";
        padding: 1vmax;
        margin: 2vmax 0;
    }
}